@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap:200,300,400,500,600,700,900');

@font-face {
    font-family: 'Pacifico';
    src: url('static\Pacifico-Regular.ttf');
}


h1{
    font-size: 30px;
    font-family: "Pacifico";
    border-top: 2px solid;
}



body{
    background-color: #5cdb95;
    height: 100%;
    color: #05386b;
}

#main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

button{
    color: #05386b;
    background-color: #5cdb95;
    border: 1px solid #05386b;
    border-radius: 19px;
    padding: 6px;
    margin: 4px 2px;
    letter-spacing: 3px;
}

.btn-primary{
    color: #05386b;
    background-color: #5cdb95;
    border: 1px solid #05386b;
    border-radius: 19px;
    padding: 6px;
    margin: 4px 2px;
    letter-spacing: 3px;
}

.btn-primary:hover{
    transition: 0.3s;
    background: #05386b;
    color: #5cdb95;
}
a{
    color: #05386b;
}
a:hover{
    color: #5cdb95;
    text-decoration: none;
}

footer{
background: rgba(5,56,107, 0.15);
color: #05386b;
height: 30px;
padding: 3px;
text-align: center;
position: relative;
clear: both;
}